<div class="container">
    <form asp-action="Search" method="get">
        <input type="text" name="searchString" placeholder="Nhập thể loại cần tìm ..."
               value="@ViewBag.SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </form>
    <table class="table"
         <thead>
            <tr>
                <th>Tên Lớp Học</th>
                <th>Năm Nhập Học</th>
                <th>Năm Ra Trường</th>
                <th>Số Lượng Sinh Viên</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.LopHoc)
            {
                       <tr>
                            <td width="30%"> @item.Name</td>
                            <td width="30%"> @item.NamNhapHoc</td>
                            <td width="30%"> @item.NamRaTruong</td>
                            <td width="30%"> @item.SoLuongSinhVien</td>


                            <td width="40%"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
                        </tr>
            }
        </tbody>
    </table>

    <a asp-controller="LopHoc" asp-action="Create" class="btn btn-primary">Thêm mới </a>
</div>